.sidebar-link:first-child {
	background: #eee;
}
.table-wrapper {
  padding: 10px 30px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: #ddd 2px 2px 0px;
}

input[type="search"] {
	margin-left: 5px;
}

.btn-toggle {
	padding-right: 10px;
}

.btn-toggle .btn-default {
	color: #ccc;
}